body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFB6C1;
    color: #333;
  }

.error-container {
    text-align: center;
    margin-top: 100px;
}

.error-message {
    font-size: 24px;
    color: #ff0000;
}